<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<!--<ion-content>-->
  <!--<ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>-->
  <!--<ion-list>-->
    <!--<button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">-->
      <!--<ion-avatar item-start>-->
        <!--<img [src]="item.profilePic" />-->
      <!--</ion-avatar>-->
      <!--<h2>{{item.name}}</h2>-->
      <!--<p>{{item.about}}</p>-->
      <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
    <!--</button>-->
  <!--</ion-list>-->
<!--</ion-content>-->
