<ion-header>

  <ion-navbar>
    <ion-title>{{ 'HELLO_TITLE' | translate }}, <p>{{currentUser.name}}</p></ion-title>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>Пользователи:</ion-list-header>
    <!--<ion-item *ngFor="let user of usersList">-->
      <!--<p>{{user.name}}</p>-->
    <!--</ion-item>-->
  </ion-list>
</ion-content>
